body {
  background-color: #cecece;
}

p {
  color: #222222;
}

.foto {
  /* border-width: 5px;
  border-style: solid;
  border-color: black; */
  
  border: 3px solid #ffffff; /* shorthand */
  border-radius: 50px;
  width: 200px;
}