body {
  background-color: #cecece;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #222222;
}

.container {  
  width: 1000px;
  margin: 0 auto;
}

p {    
  text-align: justify;
}

h1 {
  margin-bottom: 2px;
  font-family: 'Carrois Gothic SC', sans-serif;
  letter-spacing: -1px;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;  
  font-weight: 100;   
}

.foto {  
  border: 3px solid #ffffff; 
  border-radius: 50px;
  width: 200px;
  margin: 30px;
  box-shadow: 1px 1px 10px black;
}
